[submodule "contracts/lib/murky"]
	path = contracts/lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "demos/linked-token/lib/forge-std"]
	path = demos/linked-token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "demos/axelar-token/lib/forge-std"]
	path = demos/axelar-token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "builtin-actors"]
	path = builtin-actors
	url = git@github.com:recallnet/builtin-actors.git
[submodule "recall-contracts"]
	path = recall-contracts
	url = git@github.com:recallnet/contracts.git
