[submodule "contracts/lib/murky"]
	path = contracts/lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "extras/axelar-token/lib/forge-std"]
	path = extras/axelar-token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "extras/linked-token/lib/forge-std"]
	path = extras/linked-token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "builtin-actors"]
	path = builtin-actors
	url = git@github.com:hokunet/builtin-actors.git
[submodule "hoku-contracts"]
	path = hoku-contracts
	url = git@github.com:hokunet/contracts.git
[submodule "entanglement"]
	path = entanglement
	url = https://github.com/hokunet/entanglement
