name: Storage check

on:
  push:
    branches: [ main ]
  pull_request:
env:
  RPC_URL: https://filecoin-calibration.chainup.net/rpc/v1
  PRIVATE_KEY: 0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef

jobs:
  storage:
    name: Storage layout check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup Node 16
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          cache: 'npm'
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          cache: false
      - name: Install Node dependencies
        run: npm i --unsafe-perm
      - name: Storage check
        run: npx hardhat storage-layout --check
