[package]
name = "fendermint_testing_materializer"
description = "Toolkit to instantiate testnets"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
license.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = { workspace = true }
async-recursion = { workspace = true }
async-trait = { workspace = true }
ethers = { workspace = true }
fvm_shared = { workspace = true }
hex = { workspace = true }
multihash = { workspace = true }
serde = { workspace = true }
serde_with = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
<<<<<<< HEAD
tendermint-rpc = { workspace = true }
=======
tracing = { workspace = true }
>>>>>>> 4ed73390... ENG-578: Logging materializer

lazy_static = { workspace = true, optional = true }
arbitrary = { workspace = true, optional = true }
quickcheck = { workspace = true, optional = true }

fendermint_vm_genesis = { path = "../../vm/genesis" }
fendermint_vm_encoding = { path = "../../vm/encoding" }
fendermint_testing = { path = "..", optional = true }


[dev-dependencies]
env_logger = { workspace = true }
futures = { workspace = true }
quickcheck = { workspace = true }
quickcheck_async = { workspace = true }
quickcheck_macros = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
tokio = { workspace = true }
toml = { workspace = true }

# Enable arb on self for tests.
fendermint_testing_materializer = { path = ".", features = ["arb"] }
fendermint_testing = { path = "..", features = ["golden"] }

[features]
default = []
arb = [
  "arbitrary",
  "quickcheck",
  "lazy_static",
  "fvm_shared/arb",
  "fendermint_testing/arb",
  "fendermint_vm_genesis/arb",
]
