name: Mono CI

on:
  push:
    branches:
      - main
    # Pattern matched against refs/tags
    tags:
      # Push events to every git tag not containing /
      # NOTE: '**' would match tags with / in them, e.g. "foo/bar",
      # but we want to use the tag as a docker tag as well, so it's best avoided.
      - '*'

  pull_request:
    branches:
      - '**'
    # To add ready_for_review as a trigger we need to list all the defaults.
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review


jobs:
  commonmark:
    uses: ./.github/workflows/lint-cmark.yaml

  license:
    uses: ./.github/workflows/lint-license.yaml

  demos:
    uses: ./.github/workflows/demos.yaml
    needs:
      - contracts

  contracts:
    uses: ./.github/workflows/contracts.yaml

  node:
    uses: ./.github/workflows/node.yaml

  unit-tests:
    uses: ./.github/workflows/tests-unit.yaml
    secrets: inherit
    needs:
      - build

  e2e-tests:
    uses: ./.github/workflows/tests-e2e.yaml
    secrets: inherit
    needs:
      - build

  fevm-contract-tests:
    uses: ./.github/workflows/fevm-contract-tests.yaml
    secrets: inherit
    needs:
      - build
    if: >-
      github.ref == 'refs/heads/main' ||
      github.ref_type == 'tag'

  docker-publish:
    uses: ./.github/workflows/docker-publish.yaml
    secrets: inherit
    # Dependencies are not strictly necessary, but if fendermint tests pass they publish docker too, so they better work.
    # It is because of these needs that all the filters are allowed to run on `main` too, otherwise this would be disabled.
    # It could be done in a more granular approach inside the workflows to allow the job to pass but opt-out of testing,
    # but I guess it doesn't hurt to run a final round of unconditional tests, even though it takes longer to publish.
    if: >-
      github.ref == 'refs/heads/main' ||
      github.ref_type == 'tag'
    needs:
      - fevm-contract-tests
      - build
      - unit-tests
      - e2e-tests
