name: 'Contracts: Tests'

# This workflow is triggered from the main CI workflow.
on:
  workflow_call:

jobs:
  tests:
    runs-on: self-hosted
    if: ${{ !github.event.pull_request.draft }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          cache: false
          version: "v0.3.0"

      - name: Cache Solidity ABI artifacts
        uses: actions/cache@v4
        with:
          path: |
            ./contracts/out
            ./contracts/bindings
            ./contracts/cache
          key: v2-contracts-abi-${{ hashFiles('./contracts/**/*.sol') }}

      - name: Run tests
        run: cd contracts; make test

      - name: Run axelar-token tests
        run: cd demos/axelar-token; forge test -vvv --ffi

      - name: Run linked-token tests
        run: cd demos/linked-token; forge test -vvv --ffi
