name: 'Contracts: Smoke test deployment'

# This workflow is triggered from the main CI workflow.
on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: |
            ${{ secrets.BUILTIN_ACTORS_DEPLOY_KEY }}
            ${{ secrets.CONTRACTS_DEPLOY_KEY }}
            ${{ secrets.ENTANGLEMENT_DEPLOY_KEY }}

      - name: Checkout repository
        uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'
          cache: 'pnpm'

      - name: Install dependencies
        run: cd contracts && make deps

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          cache: false

      - name: Generate Ethereum Private Key and Create .env File and run make
        run: |
          cd contracts
          PRIVATE_KEY=$(node -e "console.log(require('crypto').randomBytes(32).toString('hex'))")
          echo "export PRIVATE_KEY=0x$PRIVATE_KEY" > .env
          echo "export RPC_URL=http://127.0.0.1:1337" >> .env
          echo "export CHAIN_ID=1337" >> .env
          export PATH="$PATH:/home/runner/.config/.foundry/bin"
          pnpm exec ganache-cli -g0 -p1337 --account 0x$PRIVATE_KEY,1001901919191919191  &
          sleep 5
          make deploy-stack
