name: 'Contracts: pnpm audit'

# This workflow is triggered from the main CI workflow.
on:
  workflow_call:

jobs:
  pnpm-audit:
    name: pnpm audit
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'
          cache: 'pnpm'
      - name: NPM Audit
        run: |
          cd contracts
          pnpm audit --audit-level=moderate
