name: Run tests against Fendermint (remote Docker image)

# This workflow is triggered from the main CI workflow.
on:
  workflow_call:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: |
            ${{ secrets.BUILTIN_ACTORS_DEPLOY_KEY }}
            ${{ secrets.CONTRACTS_DEPLOY_KEY }}
            ${{ secrets.ENTANGLEMENT_DEPLOY_KEY }}

      - name: Checkout Test Repository
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'
          repository: 'consensus-shipyard/fevm-contract-tests'
          path: 'fevm-contract-tests'

      - name: Checkout Fendermint
        uses: actions/checkout@v2
        with:
          repository: 'consensus-shipyard/ipc'
          submodules: 'recursive'
          path: 'ipc'

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18.19.0

      - name: Install dependencies
        run: npm install
        working-directory: 'fevm-contract-tests'

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable

      - name: Install cargo-make
        run: |
          if ! command -v cargo-make &> /dev/null
          then
              cargo install -f cargo-make
          fi

      - name: Download Docker image
        uses: actions/download-artifact@v4
        with:
          name: docker-image
          path: /tmp

      - name: Load Docker image
        run: |
          docker load --input /tmp/docker-image.tar
          docker image ls -a

      - name: Run a testnode
        id: testnode
        working-directory: ipc/
        env:
          PROMTAIL_CLIENT_URL: ${{ secrets.PROMTAIL_CLIENT_URL }}
        run: |
          export BALANCE=10000000000
          { out=$(cargo make --makefile ./infra/fendermint/Makefile.toml testnode | tee /dev/fd/3); } 3>&1
          private_key=$(echo $out | sed -e 's/\(.*\)\([a-f0-9]\{64\}\)/0x\2/' | grep 0x | head -c66)
          echo "ROOT_PRIVATE_KEY=$private_key" >> "$GITHUB_OUTPUT"
          cat $GITHUB_OUTPUT
      - name: 'Create and fund accounts'
        id: accounts
        env:
          NUM_ACCOUNTS: 5
          ROOT_PRIVATE_KEY: ${{ steps.testnode.outputs.ROOT_PRIVATE_KEY }}
        working-directory: fevm-contract-tests
        run: |
          npx hardhat --network local create-fund-accounts
      - name: 'Run tests: web3.js SimpleCoin'
        if: always()
        env:
          ROOT_PRIVATE_KEY: ${{ steps.testnode.outputs.ROOT_PRIVATE_KEY }}
          USER_1_PRIVATE_KEY: ${{ steps.accounts.outputs.ACCOUNT1_PRIVATE_KEY }}
        working-directory: fevm-contract-tests
        run: |
          npx hardhat --network local test ./test/web3.js/SimpleCoin.js
      - name: 'Run tests: web3.js ERC20'
        if: always()
        timeout-minutes: 2
        working-directory: fevm-contract-tests
        env:
          ROOT_PRIVATE_KEY: ${{ steps.testnode.outputs.ROOT_PRIVATE_KEY }}
          USER_1_PRIVATE_KEY: ${{ steps.accounts.outputs.ACCOUNT1_PRIVATE_KEY }}
        run: |
          npx hardhat --network local test ./test/web3.js/ERC20.js
      - name: 'Run tests: ethers.js SimpleCoin'
        if: always()
        timeout-minutes: 2
        working-directory: fevm-contract-tests
        env:
          ROOT_PRIVATE_KEY: ${{ steps.testnode.outputs.ROOT_PRIVATE_KEY }}
          USER_1_PRIVATE_KEY: ${{ steps.accounts.outputs.ACCOUNT1_PRIVATE_KEY }}
        run: |
          npx hardhat --network local test ./test/ethers.js/SimpleCoin.js
      - name: 'Run tests: ethers.js ERC20'
        if: always()
        timeout-minutes: 2
        working-directory: fevm-contract-tests
        env:
          ROOT_PRIVATE_KEY: ${{ steps.testnode.outputs.ROOT_PRIVATE_KEY }}
          USER_1_PRIVATE_KEY: ${{ steps.accounts.outputs.ACCOUNT1_PRIVATE_KEY }}
        run: |
          npx hardhat --network local test ./test/ethers.js/ERC20.js
