name: Run e2e tests

# This workflow is triggered from the main CI workflow.
on:
  workflow_call:

env:
  CARGO_TERM_COLOR: always
  CARGO_NET_GIT_FETCH_WITH_CLI: true

jobs:
  run:
    runs-on: self-hosted

    env:
      RUST_BACKTRACE: full
      # Needed to avoid erroring on warnings from builtin-actors until they're fixed.
      RUSTFLAGS: --cap-lints=warn

    steps:
      - name: Check out the project
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Tools
        uses: ./.github/actions/install-tools
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          rust: 1.81.0

      - name: Download Docker image
        uses: actions/download-artifact@v4
        with:
          name: docker-image-${{ github.sha }}
          path: /tmp

      - name: Load Docker image
        run: |
          docker load --input /tmp/docker-image-${{ github.sha }}.tar
          docker image ls -a

      - name: Cache Solidity ABI artifacts
        uses: actions/cache@v4
        with:
          path: |
            ./contracts/out
            ./contracts/bindings
            ./contracts/cache
          key: v2-contracts-abi-${{ hashFiles('./contracts/**/*.sol') }}

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: build

      - name: Run e2e tests
        run: cd fendermint && FM_DOCKER_IMAGE=fendermint:${{ github.sha }} PROFILE=release make e2e-only
