name: Run e2e tests

# This workflow is triggered from the main CI workflow.
on:
  workflow_call:

jobs:
  run:
    runs-on: ubuntu-latest

    env:
      RUST_BACKTRACE: full
      RUSTFLAGS: -Dwarnings

    steps:
      - name: Check out the project
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Tools
        uses: ./.github/actions/install-tools
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          rust: 1.81.0

      - name: Download Docker image
        uses: actions/download-artifact@v4
        with:
          name: docker-image
          path: /tmp

      - name: Load Docker image
        run: |
          docker load --input /tmp/docker-image.tar
          docker image ls -a

      - name: Cache Solidity ABI artifacts
        uses: actions/cache@v4
        with:
          path: |
            ./contracts/out
            ./contracts/cache
            ./crates/contract-bindings
          key: v2-contracts-abi-${{ hashFiles('./contracts/**/*.sol') }}

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: build

      - name: Run e2e tests
        run: |
          set -e
          cd contracts
          make gen
          cd ..
          cd crates/node
          PROFILE=release make e2e-only
