export PRIVATE_KEY=
export PUBLIC_ADDRESS=

export CALIBNET_RPC_URL=https://api.calibration.node.glif.io/rpc/v1
export CALIBNET_CHAIN_ID=314159
export CALIBNET_USDC=
export CALIBNET_GATEWAY=
export IPC_TOKEN_CONTROLLER=

export SUBNET_RPC_URL=http://0.0.0.0:8545
export SUBNET_GATEWAY=
export SUBNET_ROUTE_IN_ETH_FORMAT=
export IPC_TOKEN_REPLICA=
